---
---
@import "minima";

@charset "utf-8";

/* path to glyphicons */
$icon-font-path: "/bower_components/bootstrap-sass/assets/fonts/bootstrap/";

/* custom variable */

/* any style customization must be before the bootstrap import */
@import "bootstrap";

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 100%;
  padding: 15px;
  width: auto;
}

img {
  display: block;
  max-width: 100%;
  height: 20rem;
}
